	</div>

	<footer class="container">
		<hr>
		<small class="text-muted">
			<span class="pull-right">Source code under the MIT licence</span>
			<a href="https://github.com/emersion/unfacebookify">Unfacebookify</a> by <a href="http://emersion.fr">Emersion</a>
		</small>
	</footer>

	<script src="/bower_components/jquery/dist/jquery.min.js"></script>
	<script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

	<!-- http://writing.colin-gourlay.com/safely-using-ready-before-including-jquery/ -->
	<script>(function($,d){$.each(readyQ,function(i,f){$(f)});$.each(bindReadyQ,function(i,f){$(d).bind("ready",f)})})(jQuery,document)</script>
</body>
</html>